.message_window {
  display: flex;
  flex-direction: column;
  border: 0.15rem solid black;
  padding: 1rem;
  align-items: right;
}

.message_text {
  background-color: darkorange;
  font-weight: bold;
  color: white;
  border-radius: 5rem;
  padding-left: 1rem;
}

.message_user {
  display: flex;
  color: darkorange;
  align-items: center;
}

.sendbutton {
  height: 2rem;
  border: 0.05rem solid blue;
  border-radius: 0.25rem;
  color: blue;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.newmessage {
  height: 2rem;
  padding: 1rem;
  border: 1px solid blue;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
