.chat-container {
  border: 1px solid #b6b6b6;
  padding: 10px;
  border-radius: 13px;
  height: 525px;
  max-height: 525px;
}

.chat_window {
  padding: 10px;
  height: 80%;
  margin: 5vh 0 5vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.chat-input {
  height: 5vh;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.chat-input-field {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 5px 0 5px;
  border: 1px solid #fcb90f;
  padding: 0 10px;
  border-radius: 13px;
}

.chat-input-button {
  width: 20%;
  background-color: #fcb90f;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 13px;
  font-size: 1.25rem;
  margin: 0 5px 0 5px;
}

.chat-input-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 13px;
  position: relative;
  color: black;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.message-text-sent {
  color: black;
  background: #fcb90f;
  align-self: flex-end;
  text-align: right;
}
.sender-sent {
  display: none;
}

.message-text-received {
  color: black;
  background: #b6b6b6;
  text-align: left;
}
.sender-received {
  color: black;
}
