.event-block-container {
}

.event-block-image {
    width: 120px;
    height: 80px;
}

.event-block-content {
}

.event-block-content-name {
    font-size: 0.8rem;
    color: #333333;
}

.event-block-content-start-time {
    font-size: 0.6rem;
    color: #888888;
}