.package-venue-block-container {
    width: 120px;
    margin-right: 20px;
}

.package-venue-block-image {
    width: 120px;
    height: 80px;
    margin: auto;
    object-fit: cover;
}

.package-venue-block-content {
    text-align: center;
}

.package-venue-block-content-name {
    font-size: 0.8rem;
    color: #333333;
}

.package-venue-block-content-type {
    font-size: 0.6rem;
    color: #888888;
}

.package-venue-block-content-seats {
    font-size: 0.5rem;
    color: #888888;
}