#venue-creation-button-container {
    margin-top: 20px;
    text-align: center;
}

#venue-creation-button-save {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
    border: 1px solid #FCB90F;
    background-color: #FFFFFF;
}

#venue-creation-button-save:hover {
    width: 100%;
    font-weight: bold;
    color: #000000;
    background-color: #FCB90F;
    border: 1px solid #FCB90F;
    margin-right: 30px;
}
