#sidebar-vendor {
    padding: 10px;
}

#sidebar-features {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#sidebar-features button {
    margin-top: 10px;
    margin-bottom: 10px;
}