#dashboard-container {
    display: flex;
    flex-direction: row;
}

#dashboard-menu {
    width: 250px;
    border-right: 1px solid #CCCCCC;
}

#dashboard-content {
    border-right: 1px solid #CCCCCC;
}
