@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Salsa&display=swap");
/* font-family: "Open Sans", sans-serif;
font-family: "Salsa", cursive; */

#product_name {
  font-family: "Salsa", sans-serif;
}

#bg-image {
  background-image: url("../../public/img/event-party-g5bc2853b7_1280.jpg");
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}
