@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Salsa&display=swap");
/* font-family: "Open Sans", sans-serif;
font-family: "Salsa", cursive; */

.welcomeTitle {
  font-size: 86px;
  font-family: "Salsa", sans-serif;
}

.portal {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  transform: rotate(60deg);
}

.welcomelist {
  justify-content: left;
}
