#events-without-venue-container {
    display: flex;
}

#events-without-venue-list {
    /*border: solid 1px blue;*/
    width: 200px;
    padding: 20px;
}

#events-without-venue-detail {
    /*border: solid 1px blue;*/
    width: 200px;
    padding: 20px;
}