#event-container {
    /*border: solid 2px purple;*/
    padding: 10px;
}

#event-venue-list {
    /*border: solid 1px blue;*/
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

#event-list {
    /*border: solid 1px green ;*/
    padding: 10px;
}

#event-detail {
    display: flex;
    /*border: solid 1px red;*/
    padding: 10px;
    width: 500px;
}
