#package-container {
    /*border: solid 2px purple;*/
    overflow-x: auto;
}

#package-venue-list {
    /*border: solid 1px blue;*/
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

#package-list {
    /*border: solid 1px blue;*/
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

#package-detail {
    /*border: solid 1px red;*/
    width: 400px;
}