#sidebar-vendor {
    padding: 10px;
}

#sidebar-features {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#sidebar-features button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666666;
    border: 1px solid #FCB90F;
    background-color: #FFD15C;
}

#sidebar-features button:hover {
    font-weight: bold;
    color: #000000;
    background-color: #FCB90F;
    border: 1px solid #FCB90F;
}