#upcoming-events-container {
    /*border: solid 2px purple;*/
    overflow-x: auto;
}

#upcoming-events-list-title {
    /*border: 1px solid red;*/
    font-size: 1rem;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #202020;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
}

#upcoming-events-list {
    /*border: solid 1px blue;*/
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-top: 10px;
}

#upcoming-events-detail {
    /*border: solid 1px red;*/
    width: 400px;
}