#user-profile-container {
    padding: 10px;
    /*border: 2px solid greenyellow;*/
}

#user-profile-container span {
    background-color: #DFDFDF;
}

#user-profile-title {
    text-align: center;
}

#user-profile-image-container {
    padding: 10px;
}

#user-profile-image {
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}

#user-profile-input-image-upload {
    color: #888888;
}

#user-profile-input-name {
}

#user-profile-input-title {
}

#user-profile-input-city-ward {
}

#user-profile-input-prefecture {
}

#user-profile-button-container {
    text-align: right;
}

#user-profile-button-save {
    margin: 10px;
    font-weight: bold;
    color: #888888;
    border: 1px solid #FFD15C;
    background-color: #FFD15C;
}

#user-profile-button-save:hover {
    margin: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #FCB90F;
    border: 1px solid #FCB90F;
}